* {
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  list-style: none;
  width: 100%;
  border-radius: 4px;
  background-color: #f5f6fa;
}

.main__container {
  margin: 6rem 0 6rem 0;
  background-color: #0000000d;
  border-radius: 4px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.471);
}

/* ----------------------NavBar CSS Starts here------------------------------------------ */

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 5rem;
  margin: 0 0 2.375rem;
  padding: 1.438rem 6.188rem 1.688rem 6.25rem;
  border: 1px solid #1212122a;
  box-shadow: 1px 1px 8px 1px #888;
  background-color: #fff;
}

.ppIcon__wrapper {
  background-color: #d6d6d669;
  border: 1px solid #1212125f;
  padding: 10px 12px;
  border-radius: 50%;
  cursor: pointer;
}

.Bookstore-CMS {
  height: 2.313rem;
  font-size: 1.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0291ff;
  white-space: nowrap;
  cursor: pointer;
}

.book__link {
  margin: 1.125rem 2.563rem 0.688rem 0;
  font-size: 0.9rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  text-decoration: none;
  letter-spacing: 1px;
  color: #121212;
  transition: 0.3s;
}

.book__link:hover {
  color: #0291ff;
}

.categories__link {
  margin: 1.125rem 41.5rem 0.688rem 2.563rem;
  opacity: 0.5;
  font-size: 0.9rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1px;
  text-decoration: none;
  color: #121212;
  transition: 0.3s;
}

.categories__link:hover {
  color: #0291ff;
}

/* ----------------------NavBar CSS ends here---------------------------------------------------- */

/* ----------------------Book container CSS starts here------------------------------------------ */

.wrapper {
  padding: 0 6.5rem 3rem 6.5rem;
}

.book__container {
  width: 100%;
  height: auto;
}

.span__line {
  display: flex;
  margin-top: 3rem;
  border: 1px solid #80808082;
}

/* ----------------------Book container CSS ends here------------------------------------------ */

/* ----------------------Individual book CSS starts here--------------------------------------- */

.individual__book {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 75rem;
  height: auto;
  margin: 10px auto;
  padding: 2rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
}

.first__column {
  width: 50%;
}

.book__category {
  width: 3.063rem;
  height: 1.125rem;
  margin: 0 2.438rem 0 0;
  opacity: 0.5;
  font-size: 0.9rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.book__title {
  width: 30rem;
  height: 1.813rem;
  margin: 0 20.188rem 0 0;
  font-family: 'RobotoSlab', sans-serif;
  font-size: 1.375rem;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  text-transform: capitalize;
  letter-spacing: -0.2px;
  color: #121212;
}

.book__author {
  width: 6.688rem;
  height: 1.188rem;
  margin: 0.2rem 0 1rem;
  font-family: 'RobotoSlab', sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-transform: capitalize;
  color: #4386bf;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 20%;
}

.comments {
  width: 4.563rem;
  height: 1.188rem;
  margin: 0.1rem 0.9rem 0.1rem 0;
  font-family: 'RobotoSlab', sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  cursor: pointer;
  color: #4386bf;
}

.line__separate {
  width: 0.1rem;
  height: 1.5rem;
  margin-right: 10px;
  border: solid 1px #faf7f7;
}

.remove__btn {
  width: 3.375rem;
  height: 1.188rem;
  margin: 0.1rem 0.9rem 0.1rem 0;
  font-family: 'RobotoSlab', sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.edit {
  font-family: 'RobotoSlab', sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
  cursor: pointer;
}

.oval {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.oval-2 {
  width: 4.25rem;
  height: 4.25rem;
  margin: 10px;
}

.progress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.percent__complete {
  width: 4.25rem;
  height: 2.438rem;
  margin: 0.063rem 5.75rem 0 0.688rem;
  font-size: 2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.completed {
  width: 5rem;
  height: 1.125rem;
  margin: 0.438rem 4.938rem 0.75rem 0.75rem;
  opacity: 0.5;
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.line__separate2 {
  height: 4.375rem;
  border: solid 1px #e8e8e8;
}

.update__chapter {
  display: flex;
  flex-direction: column;
}

.current__chapter {
  width: 9.875rem;
  height: 1.125rem;
  margin: 0.063rem 5.375rem 0 3.688rem;
  opacity: 0.5;
  font-family: 'RobotoSlab', sans-serif;
  font-size: 0.813rem;
  font-weight: 300;
  text-transform: uppercase;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.current__lesson {
  width: 6.688rem;
  height: 1.313rem;
  margin: 0.438rem 6.813rem 0.25rem 3.688rem;
  font-family: 'RobotoSlab', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: #121212;
}

.updateProgress__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 11.5rem;
  height: 2.063rem;
  margin: 0.75rem 0 0.563rem 3.688rem;
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  border-radius: 3px;
  cursor: pointer;
  background-color: #0290ff;
}

.update__progress {
  width: 8.938rem;
  height: 1.125rem;
  font-family: 'RobotoSlab', sans-serif;
  font-size: 0.813rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
}

/* ----------------------Individual book CSS ends here--------------------------------------- */

/* ----------------------Add book CSS starts here-------------------------------------------- */

.addBook__title {
  margin: 1.813rem 32.75rem 1.188rem 0;
  font-size: 1.25rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  letter-spacing: -0.18px;
  color: #888;
}

.add__form {
  display: flex;
  justify-content: space-between;
}

.title__input,
.author__input {
  padding-left: 20px;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.15px;
  color: #121212;
  border: solid 1px #999;
  background-color: #e8e8e8;
}

.fiction__select {
  width: 15rem;
  padding-left: 20px;
  margin-left: -160px;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.15px;
  color: #676767;
  border: solid 1px #999;
  background-color: #e8e8e8;
}

.title__input::placeholder,
.author__input::placeholder {
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.15px;
  color: #c4c4c4;
}

.title__input {
  width: 18.5rem;
}

.author__input {
  margin-left: -160px;
}

.submit__btn {
  width: 11rem;
  padding: 0.801rem 1.188rem 0.886rem 1.375rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  cursor: pointer;
  color: #ffff;
  background-color: #0290ff;
}

/* ----------------------Add book CSS ends here-------------------------------------------- */

/* ---------------------Categories CSS section starts here--------------------------------- */

.checkStatus__container {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100vh;
}

.checkStatus__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 11.5rem;
  height: 2.063rem;
  margin: 1rem;
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  border-radius: 3px;
  cursor: pointer;
  color: #ffff;
  background-color: #0290ff;
}

/* ---------------------Categories CSS section ends here---------------------- */
